.daily-cash
    input#myInput(type="text" onkeyup="searchFunction()" placeholder="بحث" title="Type in a name")
    i#add-cash.text-center.location-Addbutton.btn.btn-info.icon-plus-sign-alt اضافة
    table#one.table.table-hover.table-responsive-sm