.header
    i.icon-exchange.icon-2x.toggle-sidebar
    .dropdown.notifiaction-container
        i.icon-bell.icon-2x.header-icon.toggle-notifiacations#notifiaction( data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifiaction')
            .noti-head
                | Notification 
                span 50
            .noti-content 
                ul.list-unstyled
                    li
                        i.icon-youtube-play
                        | You Have The Watch
                    li
                        i.icon-youtube-play
                        | You Have The Watch
                    li
                        i.icon-youtube-play
                        | You Have The Watch
            .noti-foot.text-center: a(href="#") Veiw All Notifiaction
    i.icon-resize-horizontal.toggle-fullscreen.header-icon
    .dropdown.usermene-container
        .username#usermenu( data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            img.avatar.rounded-circle(src="image/khaled.jpg", alt="")
            span.user khaled abu hawwas
            i.icon-caret-down
        .dropdown-menu.dropdown-menu-right(aria-labelledby='#usermenu')
            .user-info
                h3 khaleed abu hawwas
                p Premium Member
            hr
            ul.activties-lis.list-unstyled
                li Add Comment on Post "How To Make Bal Bla Bla"
                li Created Post On  Categry
                li Created Chart on Chart page
                li Add Commint And Post "Bla bla bla"
            hr
            .row.text-center.user-links
                .col
                    .link-box.btn-warning
                        i.icon-cog
                        span Setting
                .col
                    .link-box.btn-info
                        i.icon-user
                        span User
                .col
                    .link-box.btn-danger
                        i.icon-off
                        span Log Out
    