.header
    i.icon-exchange.icon-2x.toggle-sidebar
    .dropdown.notifiaction-container
        i.icon-bell.icon-2x.header-icon.toggle-notifiacations#notifiaction( data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifiaction')
            .noti-head
                | Notification 
                span 50
            .noti-content 
                ul.list-unstyled
                    li
                        i.icon-youtube-play
                        | You Have The Watch
                    li
                        i.icon-youtube-play
                        | You Have The Watch
                    li
                        i.icon-youtube-play
                        | You Have The Watch
            .noti-foot.text-center: a(href="#") Veiw All Notifiaction
    i.icon-resize-horizontal.toggle-fullscreen.header-icon
    .dropdown.usermene-container
        .username#usermenu( data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            img.avatar.rounded-circle(src="image/khaled.jpg", alt="")
            span.user khaled abu hawwas
            i.icon-caret-down
        .dropdown-menu.dropdown-menu-right(aria-labelledby='#usermenu')
            | Test User
    