.location-info
    input#myInput(type="text" onkeyup="searchFunction()" placeholder="بحث" title="Type in a name")
    i#add-location.text-center.location-Addbutton.btn.btn-info.icon-plus-sign-alt اضافة 
    table#tow.table.table-hover.table-responsive-sm
        //- thead
        //- - var headers =["#", "اسم الشركة","المدينة","الوصف","Actions"];
        //-     tr
        //-         each header in headers
        //-             th(scope='col' )=header  
        //- tbody#intral

