.location-info
    table.table.table-hover.table-responsive-sm
        thead
        - var headers =["#", "الموقع","المدينة", "Actions"];
        - var values = 20;
            tr
                each header in headers
                    th(scope='col' )=header  
        tbody#intral
            //- tr 
            //-     td 1
            //-     td.text-location sdss
            //-     td.txt-contant  sss
            //-     td
            //-         i.btn.btn-info تعديل
            //-         i.btn.btn-danger حذف 
            