.modal-area
    .form-contint
        h3.page-title.text-center  ادخل #{pageTitle}
        form.popup-toggle.text-right
            .form-group
                label(for="company_name") اسم الشركة
                input.form-control.input-primary.text-right(type="text" id="company_name" placeholder="اسم الشركة" )

                label(for="city_name") المدينة
                input.form-control.input-primary.text-right(type="text" id="city_name" placeholder="المدينة")

                label(for="description") الوصف
                input.form-control.input-primary.text-right(type="text" id="description" placeholder="الوصف" )
            i#save.btn.btn-info اضافة
