.modal-area
    .form-contint
        h3.page-title.text-center  ادخل #{pageTitle}
        form.popup-toggle.text-right
            .form-group
                label.lead(for="company_name") أسم الشركة
                input.form-control.input-primary.text-right(type="text" id="company_name" placeholder="اسم الشركة" required )

                label.lead(for="city_name") المدينة
                input.form-control.input-primary.text-right(type="text" id="city_name" placeholder="المدينة")

                label.lead(for="description") الوصف
                input.form-control.input-primary.text-right(type="text" id="description" placeholder="الوصف" )

                label.lead(for="description") الموقع
                input.form-control.input-primary.text-right(type="text" id="location" placeholder="الموقع" )
            i#save.btn.btn-info اضافة
