.modal-area
    .form-contint
        h3.page-title.text-center #{pageTitle}
        form.popup-toggle(action="")
            .form-group
                label.lead(for="exampleInputEmail1") Email address
                input.form-control.input-primary(type="email" id="exampleInputEmail1" placeholder="First name" aria-describedby="emailHelp")
                small.form-text.text-muted We'll never share your email with anyone else.
            .form-group
                label.lead(for="exampleInputEmail1") Email address
                input.form-control.input-primary(type="email" id="exampleInputEmail1" placeholder="First name" aria-describedby="emailHelp")
                small.form-text.text-muted We'll never share your email with anyone else.
            i.btn.btn-info Submit
