.sidebar 
    .logo-area.text-center khaleed 
    ul.links-area.list-unstyled
        li: a(href="homepage.html" class= pageTitle === "Homepage" ? 'active' : '') Homepage
        li
            a.toggle-submune(href="#") 
                | Formes
                i.icon-angle-right
            ul.child-links.list-unstyled
                li: a(href="#") Input
                li: a(href="#") Textarea
                li: a(href="#") Check Box
                li: a(href="#") Radio
        li
            a.toggle-submune(href="#") 
                | Misc
                i.icon-angle-right
            ul.child-links.list-unstyled
                li: a(href="#") Loading
                li: a(href="#") Breadcrumbs
        li: a.toggle-submune(href="locations.html" class= pageTitle === "المواقع" ? 'active' : '') 
            | Locations
        li: a.toggle-submune(href="calender.html" class= pageTitle === "Calender" ? 'active' : '') 
            | Calender