.header {
    background-color: #ffffff;
    padding: 20px;

    .header-icon {
        background-color: #dfe6e9;
        border-radius: 50%;
        font-size: 22px;
        padding: 15px;
        cursor: pointer;
        color: #2d3436;
        margin-right: 12px;
        display: inline-block;
    }

    .toggle-sidebar {
        cursor: pointer;
    }

    .notifiaction-container {
        display: inline-block;
        margin-left: 20px;

        .dropdown-menu {
            min-width: 600px;
            border: none;
            transition-duration: 0.6s;

            &:before {
                content: "";
                position: absolute;
                top: -12px;
                left: 16px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #333 transparent;
            }

            .noti-head {
                background-color: #333;
                color: #fff;
                padding: 15px;

                span {
                    float: right;
                }
            }

            .noti-content {
                padding: 20px;

                ul {
                    margin: 0;

                    li {
                        padding: 10px;
                        font-size: 16px;

                        i {
                            padding: 5px;
                            font-size: 29px;
                            text-align: center;
                            color: #dfe6e9;
                            margin-right: 15px;
                            border-radius: 50%;
                            background-color: #636e72;
                        }
                    }
                }
            }

            .noti-foot {
                a {
                    display: block;
                    padding: 8px;
                    border-top: 1px solid #dfe6e9;
                    border-width: 30%;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .usermene-container {
        float: right;

        .username {
            cursor: pointer;

            .avatar {
                width: 60px;
                height: 60px;
            }

            .user {
                font-weight: bold;
                color: #777;
                margin-right: 10px;
                margin-left: 10px;
            }
        }

        .dropdown-menu {
            min-width: 600px;
            border: none;
            padding: 20px;
            border: 1px solid #DDD;

            &:before {
                content: "";
                position: absolute;
                top: -21px;
                right: 40px;
                border-style: solid;
                border-width: 10px;
                border-color: transparent transparent #333 transparent;
            }

            .user-info {
                h3 {
                    font-weight: bold;
                    color: #333;
                }

                p {
                    color: rgb(207, 202, 202);
                }
            }

            .activties-lis {
                
                color: rgb(12, 9, 9);
                li  {
                   
                    padding: 10px;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        background-color: #2c3e50;
                        left: -10px;
                        top: 50%;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        border: 2px solid #2c3e50;
                        transform: translateY(-50%);
                    }
                }
            }

            .user-links {
                .link-box{
                    background-color: #EEE;
                    cursor: pointer;
                    padding: 10px;
                    i{
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}
