.location-info {
    #myInput {
        background-image: url("/image/search.png");
        background-position: -7px;
        background-repeat: no-repeat;
        width: 50%;
        font-size: 16px;
        padding: 21px 20px 21px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;

        &:before {
            content: "";
        }
    }

    .location-Addbutton {
        float: right;
        padding: 10px;
        width: 100px;
        font-weight: bold;
    }

    .icon-plus-sign-alt {
        &:before {
            padding-right: 10px;
        }
    }

    margin-top: 100px;

    tr:nth-child(even) {
        background-color: rgba(223, 230, 233, 1);
    }

    td {
        font-size: 19px;
        font-weight: bold;
    }

    i {
        margin-right: 15px;
    }
}

.jconfirm-type-default {
    background-color: rgba(236, 240, 241, 1) !important;

    .jconfirm-title {
        text-align: center;
    }

    .icon-warning-sign {
        color: rgba(192, 57, 43, 1);
    }

    .inner-style {
        padding: 15px;
        font-size: 15px;
        color: rgb(172, 170, 182);
        font-weight: bold;
    }
}
