.location-info {
    #myInput {
        background-image: url("/image/search.png");
        background-position: -7px;
        background-repeat: no-repeat;
        width: 50%;
        font-size: 16px;
        padding: 21px 20px 21px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;

        &:before {
            content: "";
        }
    }

    .location-button {
        float: right;
        padding: 7px;
        width: 74px;
    }

    .icon-plus-sign-alt {
        &:before {
            padding-right: 10px;
        }
    }

    margin-top: 100px;

    tr:nth-child(even) {
        background-color: rgba(223, 230, 233, 1);
    }

    th {
        transition-duration: 1s;
    }

    i {
        margin-right: 15px;
    }
}
