- var pageTitle ="صندوق النقد اليومي";
- var description ="صندوق النقد اليومي لمعرفة المصاريف اليومية ";
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/styles
    body
        .page.home-page
            .setting-box
                include pug/components/setting-box
            include pug/layout/sidebar
            .content-area
                include pug/layout/header
                .container-fluid
                    .content.text-center
                        include pug/components/page-head 
                    .continer-daily
                        include pug/layout/dailycash          
        include pug/layout/scriptes