- var pageTitle ="المواقع";
- var description ="This is The Location Page ";
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/styles
    body
        .page.home-page
            include pug/layout/modal 
            .setting-box
                include pug/components/setting-box
            include pug/layout/sidebar
            .content-area
                include pug/layout/header   
                .container-fluid
                    .content
                        include pug/components/page-head
                    .location-info
                        include pug/layout/locationsInfo
        include pug/layout/scriptes
        