.settings-box {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 20;
    padding: 20px;
    transition-duration: 0.3s;
    .option-title {
        font-size: 19px;
        font-weight: bold;
        color: #777;
    }
    &.hide-sttings {
        right: -250px;
    }

    .toggle-setting {
        position: absolute;
        right: 250px;
        top: 122px;
        background-color: #fff;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 29px;
        border-radius: 10px 0 0 10px;
    }

    .color-option {
        ul {
            $colors: #27ae60, #2980b9, #c0392b,#160c0b;

            @for $i from 1 through length($colors) {
                li:nth-child(#{$i}) {
                    background-color: nth($colors, $i);
                }
            }

            li {
                width: 20px;
                height: 20px;
                opacity: 0.8;
                cursor: pointer;
                border-radius: 50%;
                display: inline-block;

                &.active {
                    opacity: 1;
                }
            }
        }
    }
    .font-option{
        select{
            text-transform: capitalize;
        }
    }

    .sidebar-option{
        margin-top: 20px;
        ul {
            $colors: #777, #212120, #ebebeb;
            @for $i from 1 through length($colors) {
                li:nth-child(#{$i}) {
                    background-color: nth($colors, $i);
                }
            }
            li {
                width: 20px;
                height: 20px;
                opacity: 0.8;
                cursor: pointer;
                border-radius: 50%;
                display: inline-block;

                &.active {
                    opacity: 1;
                }
            }
        }
    }
}
