.page-head
    h1.page-title #{pageTitle}
    p.page-description.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus corrupti hic dolores odit quae, vero fugit libero eveniet illum,