.settings-box.hide-sttings
    .toggle-setting
        i.icon-gear
    .setting-content.text-center
        .option-box.color-option
            h4.option-title Color Themes
            - var themes =["green-theme", "bule-theme","red-theme",'defult-theme']
            ul.list-unstyled
                each theme in themes
                    li(data-theme=theme)
        .option-box.font-option
            h4.option-title Font Option
            - var fonts =["open", "public","roboto",'sourse']
            select.form-option
                each font in fonts
                    option(value=font)=font + ' Font'
        .option-box.sidebar-option
            h4.option-title Sidebar Option
            - var SidebarBackgrounds =["sidebar-gray", "sidebar-balck","sidebar-offWhaite"]
            ul.list-unstyled
                each background in SidebarBackgrounds
                    li(data-background=background)