.settings-box.hide-sttings
    .toggle-setting
        i.icon-gear
    .setting-content
        .option-box
            h4 Color Option
        .option-box
            h4 Font Option
        .option-box
            h4 Sidebar Option